#flash
  if errors
    .alert.alert-danger.animated.fadeIn
      for error in errors
        div= error.msg
  if info
    .alert.alert-info.animated.fadeIn
      for info in info
        div= info.msg
  if success
    .alert.alert-success.animated.fadeIn
      for success in success
        div= success.msg