script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js')
script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js')
script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-sanitize.min.js')
//- script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js')
script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-animate.min.js')
script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/restangular/1.4.0/restangular.min.js')
script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.11/angular-ui-router.min.js')
script(type='text/javascript', src='/libraries/ui-bootstrap/src/dropdown/dropdown.js?v=0.12.0')
link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css')
