#footer
  .container.text-center
    div © 2014 MEAN Coffee Starter Project - v1.1
    div
      |  Created by
      a(href='http://sahatyalkabov.com')  Christopher WJ Rueber
      |  · Inspired by
      a(href='http://sahatyalkabov.com')  Sahat Yalkabov
      | 's Hackathon Starter 2.0
    div
      | Code licensed under&nbsp;
      a(href='http://opensource.org/licenses/mit-license.html') MIT License
    div
      a(href='https://github.com/crueber/mean-coffee-starter') GitHub Project
      |  ·&nbsp;
      a(href='https://github.com/crueber/mean-coffee-starter/issues') Issues