
.navbar.navbar-default.navbar-fixed-top.navbar-inverse
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/#') MEAN Coffee Starter
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li.dropdown(on-toggle='toggled(open)', dropdown)
          a.dropdown-toggle(href='#', dropdown-toggle)
            if user.profile.picture
              img.profile-image(src='{{user.profile.picture}}')
            else
              img.profile-image(src='{{user.gravatar(60)}}')
            | {{user.profile.name || user.email || user.id}}&nbsp;
            i.caret
          ul.dropdown-menu
            li: a(href='/account') My Account
            li.divider
            li: a(href='/logout') Logout


.container-fluid
  ui-view

#footer
  .container.text-center
    div © 2014 MEAN Coffee Starter Project - v1.2
    div
      |  Created by
      a(href='http://sahatyalkabov.com')  Christopher WJ Rueber
      |  · Inspired by
      a(href='http://sahatyalkabov.com')  Sahat Yalkabov
      | 's Hackathon Starter 2.0
    div
      | Code licensed under&nbsp;
      a(href='http://opensource.org/licenses/mit-license.html') MIT License
    div
      a(href='https://github.com/crueber/mean-coffee-starter') GitHub Project
      |  ·&nbsp;
      a(href='https://github.com/crueber/mean-coffee-starter/issues') Issues
