doctype html
html
  head
    title= title
    include partials/meta
    include partials/cdnfiles
    != css('styles')
  body
    #wrap
      ui-view
      block content
    include partials/google-analytics
