doctype html
html
  head
    title= title
    include partials/meta
    include partials/cdnfiles
    != css('styles')
    != js('application')
    script.
      window.user = !{JSON.stringify(user)}
  body(ng-app='root', ng-cloak)
    #wrap
      ui-view
      block content
    include partials/google-analytics
