doctype html
html
  head
    title #{title}
    include partials/meta
    include partials/cdnfiles
    != css('styles')
    != js('application')
  body(ng-app='root', ng-cloak)
    #wrap
      include partials/navigation
      .container-fluid
        include partials/flash
        block content
    include partials/footer
    include partials/google-analytics
