extends ../layout

block content
  h2 API Examples
  hr

  .row.api-examples
    .col-sm-4
      .panel.panel-default
        .panel-body
          img(src='http://kellycpas.com/wp-content/uploads/2014/01/linkedin.png', height=40)
          a(href='/api/linkedin') LinkedIn
